*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #000000;
    box-sizing: border-box;
    color: white;
    font-family: Helvetica;
}

form{
    color: white;
}

/**************** AREA TOPO *****************/


#main-area{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
#flex-top{
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
}

textarea{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    display: block;
    height: 100px;
    margin: auto;
    outline: none;
    padding: 5px;
    resize: none;
    width: 635px;
}

textarea:focus{
    height: 100px;
    outline: none;
    padding: 5px;
    width: 635px;
}
#tipoDemanda{
    width: 270px;
}

button{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    transition: all 0.2s;
}

button:hover{
    letter-spacing: 2px;
    font-weight: 900;
}

select{
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid white;
    color: white;
    padding: 2px;
}


/*************** CARTÕES ****************/
.container{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}


.Card{
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

.requerenteCard{

}

.requeridoCard{

}

input{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid white;
    color: white;
    margin: 10px;
    outline: none;
    
}

input::placeholder{
    color: white;
    opacity: 0.7;
}
/************* OUTPUT ******************/

#printDiv{
    background-color: white;
    border-radius: 5px;
    border: 1px solid white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 10px auto;
    padding: 10px;
    width: 635px;
}

p{
    text-align: center;
}