*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: linear-gradient(90deg, rgb(97, 9, 9), rgb(134, 15, 15), rgb(190, 14, 14), rgb(190, 14, 14),
    rgb(134, 15, 15),rgb(97, 9, 9));
    background-size: cover;
    box-sizing: border-box;
    color: white;
    font-family: Helvetica;
}

form{
    color: white;
}

h1{
    font-family: "Tangerine";
    font-size: 2.8em;
    margin-bottom: 10px;
}



/**************** AREA TOPO *****************/


#main-area{
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
#flex-top{
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.534);
    box-shadow: rgba(0, 0, 0, 0.801) 2px 1px 10px 1px;
}

textarea{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    display: block;
    height: 100px;
    margin: auto;
    outline: none;
    padding: 5px;
    resize: none;
    width: 630px;
}

#tipoDemanda{
    width: 255px;
}

#seletorPessoa{
    margin-right: 30px;
}

button{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    transition: all 0.2s;
}

button:hover{
    letter-spacing: 2px;
    font-weight: 900;
}

select{
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid white;
    color: white;
    padding: 2px;
}


/*************** CARTÕES ****************/
.container{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}


.Card{
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.637);
    box-shadow: black 2px 1px 20px 1px;
}

.requerenteCard{

}

.requeridoCard{

}

input{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid white;
    color: white;
    margin: 10px;
    outline: none;
    font-weight: 700;
    
}

input::placeholder{
    color: white;
    opacity: 0.7;
}

.radioArea{
    display: flex;
    justify-content: center;
    line-height: 45px;
}

.radioselect{
    color: white;
    display: inline;
}
/************* OUTPUT ******************/

#printDiv{
    background-color: white;
    border-radius: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 10px auto;
    padding: 10px;
    width: 645px;
}

p{
    text-align: center;
}